<mat-card  class="login-card">
  <mat-card-header>
     <mat-card-title>Login Here</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form  class="login-form">
      <mat-tab-group>
      <mat-tab class="my-tab">
        <table  style="width: 50%"  cellspacing="10">
          <tr>
            <td>
              <mat-form-field>
                   <mat-label>Username</mat-label>
                   <input  matInput  placeholder="Username" [(ngModel)]="username"  name="username"  required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
           <td>
             <mat-form-field>
                 <mat-label>Password</mat-label>
                 <input  matInput  placeholder="Password" [(ngModel)]="password"  type="password"  name="password"  required>
             </mat-form-field>
           </td>
          </tr>
        </table>
      </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card-content>
  <mat-card-actions>
     <button  mat-raised-button (click)="login()"  color="primary">Login</button>
  </mat-card-actions>
  <p align="left"><a  mat-button routerLink="/newuser">Click here to Register</a></p>
</mat-card>
