<mat-card  class="my-card">
    <mat-card-header>
        <mat-card-title>New Draft User</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form  class="my-form">
        <mat-tab-group>
            <mat-tab  label="General Information"  class="my-tab">
              <table  style="width: 50%"  cellspacing="10">
                <tr>
                  <td>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input  matInput  placeholder="Name" [(ngModel)]="name"  name="name"  required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field>
                        <mat-label>Email Address</mat-label>
                        <input  matInput  placeholder="Email" [(ngModel)]="email"  name="email"  required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input  matInput  placeholder="password" [(ngModel)]="password"  name="password"  required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field>
                        <mat-label>Re-Enter Password</mat-label>
                        <input  matInput  placeholder="password" [(ngModel)]="confirmPW"  name="confirmPW"  required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field>
                      <mat-label>Created At</mat-label>
                      <input  [value]="createdAt.value" matInput [matDatepicker]="picker"  placeholder="Date of creation">
                      <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </mat-tab>
        </mat-tab-group>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-raised-button (click)="createUser()"  color="primary">Create</button>
    </mat-card-actions>
</mat-card>
